/* colors */
$blue-color: #478ac9;
$red-color: #db545a;
$orange-color: #f6d54e;
$green-color: #2cccc4;
$silver-color: #b9c1cc;
$silver-color-05: rgba(185, 193, 204, 0.5);
$white-color-05: rgba(228, 218, 218, 0.8);
$white-color-09 :rgba(228, 218, 218, 0.9);

/* fonts */
$primary_fonts: "Lato", sans-serif;
$second_font: "Open Sans", sans-serif;
$tried_font: "Montserrat", sans-serif;
$for_font: "Playfair Display", serif;
$five_font: "Source Code Pro", monospace;
$six_font: "Raleway", sans-serif;

/* with container */
$large-big: 1285px;
$extra-large: 1285px;
$large: 1140px;
$extra-medium: 940px;
$medium: 720px;
$extra-small: 540px;
$small: 340px;
